FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY_HERE
FIREBASE_GCM_SENDER_ID=YOUR_GCM_SENDER_ID_HERE
FIREBASE_GOOGLE_APP_ID=YOUR_GOOGLE_APP_ID_HERE
FIREBASE_PROJECT_ID=YOUR_PROJECT_ID_HERE
FIREBASE_STORAGE_BUCKET=YOUR_STORAGE_BUCKET_HERE
